<br/>
<h2><%= t('labels.L_ALL_ISSUES') %></h2>
<div class="row align-items-start" id="collection-items-list">
    <% if @collection_items %>
        <% if @collection_items.length > 0 %>
            <% @collection_items.each do |collection_item| %>
                <% if collection_item['is_issue'] && collection_item['is_issue'][0] == "Yes" %>
                    <div class="card" style="width: 20rem; margin: 0 0.5rem 0.5rem 0.5rem;">
                        <div class="card-body">
                            <% if collection_item['subtitle_tsim'] %>
                                <h5 class="card-title"><%= collection_item['subtitle_tsim'][0] %></h5>
                            <% end %>
                            <% if collection_item['pub_date_si'] %>
                                <p class="card-text"><%= collection_item['pub_date_si'][0] %></p>
                            <% end %>
                            <a  class="btn btn-primary" href="/catalog/<%= collection_item['id'] %>" class="pv-go-to-index"><%= t('labels.L_VIEW_ISSUE') %></a>
                        </div>
                    </div>
            <% end %>
            <% end %>
        <% else %>
            <p>
                <%= t('labels.L_NO_ISSUES_MSG') %>
            </p>
        <% end %>
    <% end %>
</div>

<div class="row align-items-start" >
    <nav aria-label="Page navigation example">
        <ul class="pagination" id="collection-items-paginator">
        </ul>
    </nav>
</div>