<ul class="navbar-nav">
  <%= render_nav_actions do |config, action|%>
    <li class="nav-item"><%= action %></li>
  <% end %>

  <% if has_user_authentication_provider? %>
    <% if current_user %>
    <li class="nav-item">
      <%= link_to t('blacklight.header_links.logout'), destroy_user_session_path, class: 'nav-link' %>
    </li>
    <% unless current_user.to_s.blank? -%>
    <li class="nav-item">
      <%= link_to current_user, edit_user_registration_path, class: 'nav-link' %>
    </li>
    <% end %>
    <% else %>
    <li class="nav-item">
      <%= link_to t('blacklight.header_links.login'), new_user_session_path, class: 'nav-link' %>
    </li>
    <% end %>
  <% end %>

  <li class="nav-item">
    <a href="<%= I18n.t('links.URL_ABOUT') %>" class="nav-link">
      <%= I18n.t('labels.L_ABOUT') %>
    </a>
  </li>
  <li class="nav-item">
    <a href="<%= I18n.t('links.URL_HERITAGE') %>" class="nav-link">
      <%= I18n.t('labels.L_HERITAGE') %>
    </a>
  </li>
  <li class="nav-item">
    <a href="<%= I18n.t('links.URL_CRKN') %>" class="nav-link">
      <%= I18n.t('labels.L_CRKN_SHORT') %>
    </a>
  </li>
  <li class="nav-item">
    <a href="<%= I18n.t('links.URL_NEW') %>" class="nav-link">
      <%= I18n.t('labels.L_NEW') %>
    </a>
  </li>
  <li class="nav-item">
    <a target="_blank" href="<%= I18n.t('links.URL_CITATION_GUIDE') %>" class="nav-link">
      <%= I18n.t('labels.L_CITE') %>
    </a>
  </li>
  <li class="nav-item">
    <a href="<%= I18n.t('links.URL_CONTACT') %>" class="nav-link">
      <%= I18n.t('labels.L_CONTACT') %>
    </a>
  </li>

</ul>