<div>
  <% @formats.each do |i18n_key, citation_method| %>
    <h2><%= t(i18n_key) %></h2>
    <%= @document.send(citation_method).html_safe %>
    <% if @document['ark'] %>
        <%= t('blacklight.application_name') %><%= citation_method == :export_as_apa_citation_txt ? '.' : ',' %>
        <a href="<%= @document['ark'] %>"><%= @document['ark'] %></a>.
    <% end %>
    <% unless @formats.keys.last === i18n_key %>
      <br/><br/>
    <% end %>
  <% end %>
</div>