<%= content_tag @component,
  id: @id,
  data: {
    'document-id': @document.id.to_s.parameterize,
    'document-counter': @counter
  },
  itemscope: true,
  itemtype: @document.itemtype,
  class: classes.flatten.join(' ') do %>

  <%= header %>

  <% if body.present? %>
    <%= body %>
  <% else %>
    <div class="document-main-section">
      <br/>

      <% if @component.to_s == 'div' %>
        <div class="crumbs">
          <a href="/catalog"><%= t('labels.L_SEARCH_BREADCRUMB') %></a> <span>/</span>
          <% @document._source["collection_tsim"].each do |val| %>
            <a href="/catalog?f%5Bcollection_tsim_str%5D%5B%5D=<%= val %>"><%= val %></a> /
          <% end %>
          <% if @document._source['is_issue']&.first == "Yes" && @document._source['serial_title'] %>
            <a href="/catalog/<%= @document._source['serial_key'][0] %>"><%= @document._source['serial_title'][0] %></a> /
          <% end %>
        </div>
        <br/>
      <% end %>

      <%= title %>
      <%= embed %>
      <%= content %>

      <% if @component == :div %>
        <div id="document-togglable-content" class="container-fluid">
          <div class="row flex-nowrap">
            <!-- Sidebar -->
            <div id="toggle-menu" class="col collapse collapse-horizontal show">
              <div class="document-sidebar-header">
                <h3><%= t('labels.L_SERIAL_RECORD') %></h3>
                <button id="toggle-doc-metadata1" class="btn btn-outline-custom" type="button" data-bs-toggle="collapse" data-bs-target="#toggle-menu" aria-expanded="true" aria-controls="toggle-menu">
                    <i class="bi bi-arrow-left"></i>
                </button>
              </div>
              <div>  
                <%= metadata %>
                <% metadata_sections.each do |section| %>
                  <%= section %>
                <% end %>
              </div>
            </div>
            <!-- Main Content -->
            <div id="doc-main" class="col">
              <% if @document._source["is_serial"]&.first == "No" %>
                <button id="toggle-doc-metadata2" class="btn btn-outline-custom" type="button" data-bs-toggle="collapse" data-bs-target="#toggle-menu" aria-expanded="true" aria-controls="toggle-menu">
                    <i class="bi bi-layout-sidebar"></i><span><%= t('labels.L_RECORD') %></span>
                </button>
                <% if @document._source["ark"] %>
                  <div id="my-mirador" data-docid="<%= @document._source['ark'] %>"></div>
                <% else %>
                  <img src="/assets/404.webp" class="not-found-icon"/>
                  <p>Sorry, there was a problem loading the images for this item.</p>
                <% end %>
              <% else %>
              <button id="toggle-doc-metadata3" class="btn btn-outline-custom" type="button" data-bs-toggle="collapse" data-bs-target="#toggle-menu" aria-expanded="true" aria-controls="toggle-menu">
                  <i class="bi bi-layout-sidebar"></i><span><%= t('labels.L_SERIAL_RECORD') %></span>
              </button>
                <%= render CollectionItemsComponent.new(
                  documentId: params[:id],
                  page: params[:page] || 1,
                  per_page: 12
                ) %>
              <% end %>
            </div>
          </div>
        </div>
        <%= render(::IiifComponent.new(document: @document, term: params[:q])) %>



      <% else %>
        <%= metadata %>
        <% metadata_sections.each do |section| %>
          <%= section %>
        <% end %>
        <%= thumbnail %>
        <%= render(::PageSearchComponent.new(docId: @document._source["id"] , arkUrl: @document._source["ark"], term: params[:q])) %>
      <% end %>

      <br/>
      <% partials.each do |partial| %>
        <%= partial %>
      <% end %>
    </div>
  <% end %>

  <%= footer %>
<% end %>