<%= content_tag @component,
  id: @id,
  data: {
    'document-id': @document.id.to_s.parameterize,
    'document-counter': @counter,
  },
  itemscope: true,
  itemtype: @document.itemtype,
  class: classes.flatten.join(' ') do %>
  <%= header %>
  <% if body.present? %>
    <%= body %>
  <% else %>
    <div class="document-main-section">
      <br/>
      <% if @component.to_s == 'div' %>
        <div class="crumbs">
          <a href="/catalog"><%= t('labels.L_SEARCH_BREADCRUMB') %></a> <span>/</span> 
          <% @document._source["collection_tsim"].each do |val| %>
            <a href="/catalog?f%5Bcollection_tsim_str%5D%5B%5D=<%= val %>"><%= val %></a>  / 
          <% end %>
          <% if @document._source['is_issue'] && @document._source['is_issue'][0] == "Yes" && @document._source['serial_title'] %>
            <a href="/catalog/<%=  @document._source['serial_key'][0] %>"><%=  @document._source['serial_title'][0] %></a>  / 
          <% end %>
        </div>
        <br/>
      <% end %>
      <%= title %>
      <%= embed %>
      <%= content %>
      <% if @component == :div %>
        <% if @document._source["is_serial"] && @document._source['is_serial'][0] == "No" %>
          <% if @document._source["ark"] %>
            <div id="my-mirador" data-docid="<%= @document._source['ark'] %>"></div>        
          <% else %>
            <br/>
            <img src="/assets/404.webp" class="not-found-icon"/>
            <p>Sorry, there was a problem loading the images for this item. Please wait a while, and try again, or <a href="https://www.crkn-rcdr.ca/en/contact-us" target="_blank">reach out to us for assistance.</a></p>
          <% end %>
          <br/>
          <h2 class="doc-record-title"><%= t('labels.L_RECORD') %></h2>
        <% else %>
          <%= render CollectionItemsComponent.new(
            documentId: params[:id],
            page: params[:page] || 1,
            per_page: 20
          ) do %><% end %>
          <h2 class="doc-record-title"><%= t('labels.L_SERIAL_RECORD') %></h2>
        <% end %>
      <% end %>
      <%= metadata %>
      <% metadata_sections.each do |section| %>
        <%= section %>
      <% end %>
      <br/>
      <% partials.each do |partial| %>
        <%= partial %>
      <% end %>
    </div>

    <%= thumbnail %>
  <% end %>
  <%= footer %>
<% end %>